a{
    white-space:nowrap;
}
.circle-wrapper {
    position: relative;
    display: block;
    height:150px;
}
.circle-wrapper img {
    height: 150px;
}
.circle-wrapper:hover img{
    box-shadow: 0 0 6px black;
    transition: height 1.2s;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
-webkit-transition:all 1s ease 0s;
}
